*{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    height: 700px;
    border: 1px solid;
    margin: auto;
}
.first-title{
    background-color: green;
    color: green;
}
.first-title h3 {
    color: green;
    background-color: green;
    display: block;
    min-width: fit-content;
}
.second-title{
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    align-items: center;
}
.second-title .starbucks__img{
    width: 90px;
    padding: 10px;
    display: flex;
}
.second-title ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.second-title ul li{
    margin-left: 30px;
    padding: 15px;
}
.second-title ul a{
    display: flex;
    text-decoration: none;
    color: black;
}
.main{
    
}