@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    box-sizing: border-box;
    display: flex;
    width: 600px;
    height: 200px;
    /* border: 1px solid yellow; */
    margin: auto;
    margin-top: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu-card__img{
    width: 200px;
    height: 150px;
    /* border: 1px solid red; */
    
}
.menu-card{
    width: 550px;
    height: auto;
    padding: 20px;
    display: flex;
    /* border: 1px solid green; */
    border-radius: 15px;

}
.menu-card__title {
    /* border: 1px solid violet; */
    padding: 8px;
    margin-bottom: 3px;
    /* border: 1px solid; */
}
.menu-card__desc {
    margin-bottom: 3px;
    padding: 8px;
    /* border: 1px solid brown; */
    /* font-size: 12px; */
}
.menu-card__btn{
    margin-top: 2px;
    padding: 8px;
    /* border: 1px solid blue; */
}
.menu-card__btn--primary{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
}
.menu-card__btn--secondary{
    background-color: #22c55e;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
}