.container{
    width: 57%;
    border: 1px solid black;
    height: 200%;
    margin: auto;
}
h4{
    color: red;
    border-top: 1px solid #ebebeb;
    width: fit-content;
}
.header{
    margin: 20px;
    
}
.navbar ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: black;
    border-bottom: 5px solid #e22d30;
}
.navbar ul a{
    padding: 10px 16px;
    color: white;
    display: block;
    text-decoration: none;
    border-left: 1px solid rgb(90, 88, 88,.7);
    font-weight: bold;
}
.navbar ul a:hover{
    background-color: #e22d30;
}