.heading-list{
    display: flex;
    align-items: self-end;
    padding-left: 30px;
    width: 95%;
    justify-content: space-between;
}
.heading-list ul {
    display: flex;
    list-style-type: none;
}
.heading-list ul li{
    margin-right: 15px;

}
.heading-list ul a{
    text-decoration: none;
    color: black;
}
.background__img{
    background-image: url("../coffeeshopimg.jpg");
    background-repeat: no-repeat;
    width: 99vw;
    height: 700px;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
}
.background__img .shop-btn{
    background-color: rgb(137, 255, 116);
    border: none;
    color: white;
    padding: 16px 30px;
    margin: 4px 2px;
    font-size: large;
    cursor: pointer;
    border-radius: 5px;
}
