.image1{
    width: 150px;
    height: 150px;
}
.image2{
    width: 150px;
    height: 150px;
}
.image3{
    width: 150px;
    height: 150px;
}
.image4{
    width: 150px;
    height: 150px;
}
.image5{
    width: 150px;
    height: 150px;
}
.image6{
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 600px){
    .container {
        width: 60%;
    }
}