.container{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    line-height: 80px;
    flex-wrap: wrap;
    
}
.container div{
    background-color: white;
    width: 100px;
    height: 100px;
    /* justify-content: center; */
    /* padding: 10px; */
    margin: 10px;
}
