*{
    margin: 0;
    padding: 0;
}
/* body{
    width: 80%;
    height: 70%;
    background-color: blue;
} */
.head{
    width: 70%;
    height: 70%;
    background-color: blue;
    color: white;
    margin: auto;
}
.head h1{
    text-align: center;
}
.row g-3{
    width: 50%;
    height: 50%;
    background-color: white;
}
.row g-3 { : 1.5rem;

  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
}

