.layout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 200px; 
    /* justify-content: center; */
    /* align-items: center; */
    background-color: tomato;
    padding: 10px;
    gap: 10px ;
    /* grid-template-rows: 2; */
}
.layout div{
    background-color: cyan;
    /* gap: 10px; */
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;  
}
.box1{
    grid-column-start: 1;
    grid-column-end: 5;
}
.box2{
    grid-column: span 2;
}
.box3{
    grid-column: span 2;
}
.box4{
    grid-column: 1/5;
}
